#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

EPICS_HOST_ARCH:=$(shell /usr/epics/base/startup/EpicsHostArch)

ENV=EPICS_HOST_ARCH=$(EPICS_HOST_ARCH)
CONFIG=INSTALL_LOCATION_EXTENSIONS=$(CURDIR)/build/inst USE_RPATH=NO

BLOB=$(wildcard *)
SRC=$(filter-out debian,$(filter-out build,$(BLOB)))

build: build-stamp

binbuild=build/inst/bin/$(EPICS_HOST_ARCH)
libbuild=build/inst/lib/$(EPICS_HOST_ARCH)

build-stamp:
	dh_testdir

	install -d build/src/edm
	cp -r $(SRC) build/src/edm
	ln -s /usr/epics/extensions/configure build/configure

	$(ENV) $(MAKE) -C build/src/edm $(CONFIG)

	rm -f build/edmPvObjects
	for pv in Epics Calc Log Loc; do \
echo $$pv; \
EDMPVOBJECTS=$(CURDIR)/build EDMOBJECTS=$(CURDIR)/build \
LD_LIBRARY_PATH=$(CURDIR)/$(libbuild):$$LD_LIBRARY_PATH $(binbuild)/edm -addpv $(CURDIR)/$(libbuild)/lib$$pv.so; \
done

	rm -f build/edmObjects
	for obj in $(CURDIR)/$(libbuild)/lib*.so; do \
echo $$obj; \
EDMPVOBJECTS=$(CURDIR)/build EDMOBJECTS=$(CURDIR)/build \
LD_LIBRARY_PATH=$(CURDIR)/$(libbuild):$$LD_LIBRARY_PATH $(binbuild)/edm -add $$obj; \
done

	sed -i -e "s|$(CURDIR)/$(libbuild)|/usr/lib/edm|" build/edmObjects build/edmPvObjects

	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	rm -rf build

	dh_clean 

devbindir=debian/edm-dev/usr/epics/base/bin/$(EPICS_HOST_ARCH)
devlibdir=debian/edm-dev/usr/epics/base/lib/$(EPICS_HOST_ARCH)

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	install -d debian/edm/etc/edm
	install build/edmPvObjects debian/edm/etc/edm/
	install build/edmObjects debian/edm/etc/edm/

	install helpFiles/* debian/edm/etc/edm/
	install edmMain/colors.list debian/edm/etc/edm/
	install edmMain/fonts.list debian/edm/etc/edm/
	install edmMain/edmPrintDef debian/edm/etc/edm/

	install -d debian/edm/usr/bin
	cp build/inst/bin/$(EPICS_HOST_ARCH)/* debian/edm/usr/bin/
	install -d debian/edm/usr/lib/edm
	install build/inst/lib/$(EPICS_HOST_ARCH)/libEdmBase.so debian/edm/usr/lib/
	# these are not really plugins
	install build/inst/lib/$(EPICS_HOST_ARCH)/lib114135a4-6f6c-11d3-95bc-00104b8742df.so debian/edm/usr/lib/
	install build/inst/lib/$(EPICS_HOST_ARCH)/libcfcaa62e-8199-11d3-a77f-00104b8742df.so debian/edm/usr/lib/
	# the reset are
	cp build/inst/lib/$(EPICS_HOST_ARCH)/*.so* debian/edm/usr/lib/edm/

	install -d $(devlibdir)

	cp -r build/inst/include debian/edm-dev/usr/epics/base/
	cp build/inst/lib/$(EPICS_HOST_ARCH)/*.a $(devlibdir)

	for ll in $(wildcard debian/edm/usr/lib/edm/*.so); do \
echo "$$ll"; \
rm -f $(devlibdir)/`basename $$ll`; \
ln -s ../../../../lib/edm/`basename $$ll` $(devlibdir)/; \
done


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip -Xusr/epics
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	LD_LIBRARY_PATH=$$LD_LIBRARY_PATH:$(CURDIR)/debian/edm/usr/lib/edm dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
