#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE=1

ifeq "$(DEB_BUILD_ARCH)" "i386"
EPICS_HOST_ARCH:=linux-x86
else ifeq "$(DEB_BUILD_ARCH)" "amd64"
EPICS_HOST_ARCH:=linux-x86_64
else
EPICS_HOST_ARCH:=$(shell /usr/lib/epics/startup/EpicsHostArch)
endif
export EPICS_HOST_ARCH

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

# Link only --as-needed
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# EPICS uses -O3, let's not lower the standards
export DEB_CFLAGS_STRIP = -O2
export DEB_CXXFLAGS_STRIP = -O2

# Compile everything with debugging symbols - they will be stripped off and
# put into the debug package automatically
export DEB_CFLAGS_MAINT_APPEND = -g
export DEB_CXXFLAGS_MAINT_APPEND = -g

# chop out the source version from Changelog (ie 1.12.105M)
# Taken from CDBS
DEB_VERSION = $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
DEB_NOEPOCH_VERSION = $(shell echo $(DEB_VERSION) | cut -d: -f2-)
SOV=$(shell echo "$(DEB_NOEPOCH_VERSION)"| cut -f '1' -d '-')

# Basic EDM libraries
edmlibs += EdmBase
edmlibs += cfcaa62e-8199-11d3-a77f-00104b8742df
edmlibs += 114135a4-6f6c-11d3-95bc-00104b8742df

# PV Plugins
#  Note: Epics must be listed first
edmpvplug += Epics Calc Loc Log Proxy

# Widget Plugins
edmplug += 57d79238-2924-420b-ba67-dfbecdf03fcd
edmplug += 7e1b4e6f-239d-4650-95e6-a040d41ba633
edmplug += cf322683-513e-4570-a44b-7cdd7cae0de5
edmplug += EdmDiamond EdmTriumf Slac Indicator
edmplug += MultSegRamp PV TwoDProfileMonitor

binbuild=$(CURDIR)/bin/$(EPICS_HOST_ARCH)
libbuild=$(CURDIR)/lib/$(EPICS_HOST_ARCH)

instroot=$(CURDIR)/debian/tmp
bindir=$(instroot)/usr/bin
libdir=$(instroot)/usr/lib/$(DEB_HOST_MULTIARCH)
confdir=$(instroot)/etc
datadir=$(instroot)/usr/share/edm
docdir=$(instroot)/usr/share/doc/edm

epicsroot=$(instroot)/usr/lib/epics
epicslibs=$(epicsroot)/lib/$(EPICS_HOST_ARCH)
epicsbins=$(epicsroot)/bin/$(EPICS_HOST_ARCH)
epicsincl=$(epicsroot)/include

%:
	dh $@ --no-parallel --with epics -Sepicsmake

override_dh_auto_build:
	ln -sf /usr/lib/epics/extensions/configure .
	dh_auto_build
	rm -f edmPvObjects
	for pv in $(edmpvplug); do \
		echo $$pv; \
		EDMPVOBJECTS=$(CURDIR) EDMOBJECTS=$(CURDIR) \
		LD_LIBRARY_PATH=$(libbuild):$$LD_LIBRARY_PATH $(binbuild)/edm -addpv $(libbuild)/lib$$pv.so.$(SOV); \
	done
	rm -f edmObjects
	for obj in EdmBase $(edmplug); do \
		echo $$obj; \
		EDMPVOBJECTS=$(CURDIR) EDMOBJECTS=$(CURDIR) \
		LD_LIBRARY_PATH=$(libbuild):$$LD_LIBRARY_PATH $(binbuild)/edm -add $(libbuild)/lib$$obj.so.$(SOV); \
	done
	sed -i -e "s|$(libbuild)|/usr/lib/$(DEB_HOST_MULTIARCH)/edm|" edmObjects edmPvObjects
	sed -i -e "s|edm/libEdmBase|libEdmBase|" edmObjects

override_dh_auto_clean:
	rm -f configure
	rm -f edmPvObjects edmObjects
	rm -rf bin include lib/linux-*
	find . -name 'O.*' -type d|xargs rm -rf

override_dh_install:
	# create install dirs
	install -d $(bindir)
	install -d $(libdir)/edm
	install -d $(datadir)
	install -d $(confdir)/edm
	install -d $(docdir)
	install -d $(docdir)/contrib
	install -d $(docdir)/html
	# edm:
	install -m 755 -t $(bindir) $(epicsbins)/*
	rm -rf $(epicsbins)
	# Plugins go in /usr/lib/$(DEB_HOST_MULTIARCH)/edm
	for ff in $(edmpvplug) $(edmplug);do \
		mv $(libdir)/lib$$ff.so.$(SOV) $(libdir)/edm; \
		rm -f $(epicslibs)/lib$$ff.so; \
		ln -s ../../../$(DEB_HOST_MULTIARCH)/edm/lib$$ff.so.$(SOV) $(epicslibs)/lib$$ff.so; \
	done
	install -m 644 -t $(confdir)/edm edmPvObjects edmObjects
	install -m 644 -t $(confdir)/edm setup/calc.list
	cp -r $(CURDIR)/helpFiles $(datadir)/
	find $(datadir)/helpFiles -type f -exec chmod -x {} \;
	install -m 644 -t $(confdir)/edm edmMain/edmPrintDef
	# edm-color-default:
	install -m 644 -t $(confdir)/edm edmMain/colors.list
	# edm-font-default:
	install -m 644 -t $(confdir)/edm edmMain/fonts.list
	# edm-doc:
	install -m 755 -t $(docdir)/html doc/*
	find $(docdir)/html -type f -exec chmod -x {} \;
	install -m 644 -t $(docdir)  edmMain/colors.list edmMain/fonts.list edmMain/edmPrintDef
	install -m 755 -t $(docdir)/contrib contrib/fontparse.py
	dh_install

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_makeshlibs:
	dh_makeshlibs -n


